body {
    

    
}
#border{
    border: 10px solid ;
    border-color: #445962;
    width: 50%;
    height: 100%;
}
#logo_home{
    height: 25%;
    width: 25%;
    align-items: center;
    padding-top: 3%;
}
#HeadingGMH{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; ;
    text-decoration: underline;
    font-size: 45px;
    font-weight: bold;
    color:#445962;
    padding-top: 1%;
}
#login{
    width: fit-content;
    margin-top: 4%;
}

#block{
    margin-bottom: 2%;
}

#block > input{

    font-size: 20px;
}

#login > button{
    margin-top: 5%;
    width: fit-content;
    font-size: 20px;
    background-color:#445962;
    
}
#main{
   
    background-repeat: no-repeat;
    background-size: cover;
    
    
    
    
}
