body {
    background-color: #98EFFE;
    
}
#border{
    border: 10px solid ;
    border-color: #374151;
    width: 50%;
    height: 100%;
}
#logo_home{
    height: 10%;
    width: 10%;
    align-items: center;
    padding-top: 3%;
}
#HeadingGMH{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    font-size: 45px;
    font-weight: bold;
    color:#374151;
    padding-top: 1%;
}
#login{
    width: 37%;
    margin-top: 4%;
}

#block{
    margin-bottom: 2%;
}

#block > input{

    font-size: 20px;
}

#login > button{
    margin-top: 5%;
    width: 27%;
    font-size: 20px;
    background-color:#374151;
    border: none;
}