#headtrack{
    margin-top: -25%;
    margin-left: 30%;
    max-width: 900px;
    width: 100%;
   
}
#headtrack h1{
    color:  #323D47;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
}

.search-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #4599A5;
    height: 7%;
    border-radius: 40px;
    padding: 5px;
    padding-left: 25px;
    width: 40%;
    margin-top: -11%;
    margin-left: 7%;
    border-color: #323D47;
        
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
    top: 10px;
}
/* .search-box:hover > .search-btn{
   background: #DBF0EC;
     }  */
.search-btn{
    color: #DBF0EC;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #323D47;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration:solid;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 transition: 0.4s;   
 line-height: 40px;
 width: 40%;
}
#showpat{
    border-radius: 40px;
    margin-top: 50%;
    margin-left: -55%;
    height:250px;
    width: 260%;
    background-color: #4599A5;

}
#showpat:hover{
    box-shadow: 0 0 10px rgba(0,0,0);
}
#paticonbox{
    height: 100%;
    width: 40%;
    float: left;
    padding: 2%;
}
#patientinfobox{
    height: 100%;
    width: 50%;
    float: left;
    padding: 2%;
    
    
}
#patientinfobox > p {
    font: size 20px;
    color: #DBF0EC;
    font-weight: bold;
    
}