#headtrack{
    margin-top: 3%;
    margin-left: 23%;
    max-width: 900px;
    width: 100%;
    margin-bottom:13%;
   
}


#headtrack h1{
    color:  #323D47;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline;
    text-align: center;
}



.search-box{
    position: absolute;
    top: 25%;
    background: #67D3C8;
    height: 10%;
    border-radius: 40px;
    padding: 5px;
    padding-left: 25px;
    width: 55%;
    margin-left: 32%;
    box-shadow: 0 0 8px rgba(0, 0, 0,);

        
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 1% 15px;
    top: 10px;
    color: #000000;
}

.search-btn{
    color: #DBF0EC;
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 40px;
    background: #323D47;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    text-decoration:solid;
    padding: 3%;
    margin-right: 0.5%;
}
.search-txt{
 border: none;
 background: none;
 outline: none;
 float: left;
 font-size: 20px;
 transition: 0.4s;   
 line-height: 40px;
 width: 40%;
}
#showpat{
    border-radius: 20px;
    margin-left: 32%;
    margin-top: 4%;
    height:270px;
    width: 55%;
    background-color: rgb(3, 140, 135);

}
#showpat:hover{
    box-shadow: 0 0 10px rgb(3, 140, 135);
}
#paticonbox{
    height: 100%;
    width: 40%;
    float: left;
    padding: 4%;
    border-radius:50px;
    
}
#patientinfobox{
    height: 100%;
    width: 50%;
    float: left;
    padding: 2%;
    
    
}
#patientinfobox > p {
    font: size 20px;
    color: #DBF0EC;
    font-weight: bold;
    
}

#dis{
    width: 100%;
}